In [121]:
import pandas as pd

In [122]:
# Load a Data

df = pd.read_csv("./dataset/pokemon_data.csv",index_col=0,delimiter=',') # Read and create dataframe

df.head() # show top 5 dataframe
# df.tail() show bottom 5 dataframe

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

### Reading Data in Pandas

In [123]:
print(df.columns) # show the header
print(df[['Name','HP']][0:10]) # Show spesific collumn and row
print(df.iloc[1:4][0:4]) # index location (column) (:)
print(df.iloc[1,0]) # baris 1 kolom 0 (,)

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
                        Name  HP
#
1                  Bulbasaur  45
2                    Ivysaur  60
3                   Venusaur  80
3      VenusaurMega Venusaur  80
4                 Charmander  39
5                 Charmeleon  58
6                  Charizard  78
6  CharizardMega Charizard X  78
6  CharizardMega Charizard Y  78
7                   Squirtle  44
                    Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
#
2                Ivysaur  Grass  Poison  60      62       63       80
3               Venusaur  Grass  Poison  80      82       83      100
3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
#
2       80     60           1      False
3      100     80           1      False
3      120     80           1      False
Ivysaur

In [124]:
for x,y in df.iterrows(): # melakukan perulangan terhadap setiap row 
    print(x,y['Name'])

1 Bulbasaur
2 Ivysaur
3 Venusaur
3 VenusaurMega Venusaur
4 Charmander
5 Charmeleon
6 Charizard
6 CharizardMega Charizard X
6 CharizardMega Charizard Y
7 Squirtle
8 Wartortle
9 Blastoise
9 BlastoiseMega Blastoise
10 Caterpie
11 Metapod
12 Butterfree
13 Weedle
14 Kakuna
15 Beedrill
15 BeedrillMega Beedrill
16 Pidgey
17 Pidgeotto
18 Pidgeot
18 PidgeotMega Pidgeot
19 Rattata
20 Raticate
21 Spearow
22 Fearow
23 Ekans
24 Arbok
25 Pikachu
26 Raichu
27 Sandshrew
28 Sandslash
29 Nidoran (Female)
30 Nidorina
31 Nidoqueen
32 Nidoran (Male)
33 Nidorino
34 Nidoking
35 Clefairy
36 Clefable
37 Vulpix
38 Ninetales
39 Jigglypuff
40 Wigglytuff
41 Zubat
42 Golbat
43 Oddish
44 Gloom
45 Vileplume
46 Paras
47 Parasect
48 Venonat
49 Venomoth
50 Diglett
51 Dugtrio
52 Meowth
53 Persian
54 Psyduck
55 Golduck
56 Mankey
57 Primeape
58 Growlithe
59 Arcanine
60 Poliwag
61 Poliwhirl
62 Poliwrath
63 Abra
64 Kadabra
65 Alakazam
65 AlakazamMega Alakazam
66 Machop
67 Machoke
68 Machamp
69 Bellsprout
70 Weepinbell
71 Victreebel
72 Tentacool
73 Tentacruel
74 Geodude
75 Graveler
76 Golem
77 Ponyta
78 Rapidash
79 Slowpoke
80 Slowbro
80 SlowbroMega Slowbro
81 Magnemite
82 Magneton
83 Farfetch'd
84 Doduo
85 Dodrio
86 Seel
87 Dewgong
88 Grimer
89 Muk
90 Shellder
91 Cloyster
92 Gastly
93 Haunter
94 Gengar
94 GengarMega Gengar
95 Onix
96 Drowzee
97 Hypno
98 Krabby
99 Kingler
100 Voltorb
101 Electrode
102 Exeggcute
103 Exeggutor
104 Cubone
105 Marowak
106 Hitmonlee
107 Hitmonchan
108 Lickitung
109 Koffing
110 Weezing
111 Rhyhorn
112 Rhydon
113 Chansey
114 Tangela
115 Kangaskhan
115 KangaskhanMega Kangaskhan
116 Horsea
117 Seadra
118 Goldeen
119 Seaking
120 Staryu
121 Starmie
122 Mr. Mime
123 Scyther
124 Jynx
125 Electabuzz
126 Magmar
127 Pinsir
127 PinsirMega Pinsir
128 Tauros
129 Magikarp
130 Gyarados
130 GyaradosMega Gyarados
131 Lapras
132 Ditto
133 Eevee
134 Vaporeon
135 Jolteon
136 Flareon
137 Porygon
138 Omanyte
139 Omastar
140 Kabuto
141 Kabutops
142 Aerodactyl
142 AerodactylMega Aerodactyl
143 Snorlax
144 Articuno
145 Zapdos
146 Moltres
147 Dratini
148 Dragonair
149 Dragonite
150 Mewtwo
150 MewtwoMega Mewtwo X
150 MewtwoMega Mewtwo Y
151 Mew
152 Chikorita
153 Bayleef
154 Meganium
155 Cyndaquil
156 Quilava
157 Typhlosion
158 Totodile
159 Croconaw
160 Feraligatr
161 Sentret
162 Furret
163 Hoothoot
164 Noctowl
165 Ledyba
166 Ledian
167 Spinarak
168 Ariados
169 Crobat
170 Chinchou
171 Lanturn
172 Pichu
173 Cleffa
174 Igglybuff
175 Togepi
176 Togetic
177 Natu
178 Xatu
179 Mareep
180 Flaaffy
181 Ampharos
181 AmpharosMega Ampharos
182 Bellossom
183 Marill
184 Azumarill
185 Sudowoodo
186 Politoed
187 Hoppip
188 Skiploom
189 Jumpluff
190 Aipom
191 Sunkern
192 Sunflora
193 Yanma
194 Wooper
195 Quagsire
196 Espeon
197 Umbreon
198 Murkrow
199 Slowking
200 Misdreavus
201 Unown
202 Wobbuffet
203 Girafarig
204 Pineco
205 Forretress
206 Dunsparce
207 Gligar
208 Steelix
208 SteelixMega Steelix
209 Snubbull
210 Granbull
211 Qwilfish
212 Scizor
212 ScizorMega Scizor
213 Shuckle
214 Heracross
214 HeracrossMega Heracross
215 Sneasel
216 Teddiursa
217 Ursaring
218 Slugma
219 Magcargo
220 Swinub
221 Piloswine
222 Corsola
223 Remoraid
224 Octillery
225 Delibird
226 Mantine
227 Skarmory
228 Houndour
229 Houndoom
229 HoundoomMega Houndoom
230 Kingdra
231 Phanpy
232 Donphan
233 Porygon2
234 Stantler
235 Smeargle
236 Tyrogue
237 Hitmontop
238 Smoochum
239 Elekid
240 Magby
241 Miltank
242 Blissey
243 Raikou
244 Entei
245 Suicune
246 Larvitar
247 Pupitar
248 Tyranitar
248 TyranitarMega Tyranitar
249 Lugia
250 Ho-oh
251 Celebi
252 Treecko
253 Grovyle
254 Sceptile
254 SceptileMega Sceptile
255 Torchic
256 Combusken
257 Blaziken
257 BlazikenMega Blaziken
258 Mudkip
259 Marshtomp
260 Swampert
260 SwampertMega Swampert
261 Poochyena
262 Mightyena
263 Zigzagoon
264 Linoone
265 Wurmple
266 Silcoon
267 Beautifly
268 Cascoon
269 Dustox
270 Lotad
271 Lombre
272 Ludicolo
273 Seedot
274 Nuzleaf
275 Shiftry
276 Taillow
277 Swellow
278 Wingull
279 Pelipper
280 Ralts
281 Kirlia
282 Gardevoir
282 GardevoirMega Gardevoir
283 Surskit
284 Masquerain
285 Shroomish
286 Breloom
287 Slakoth
288 Vigoroth
289 Slaking
290 Nincada
291 Ninjask
292 Shedinja
293 Whismur
294 Loudred
295 Exploud
296 Makuhita
297 Hariyama
298 Azurill
299 Nosepass
300 Skitty
301 Delcatty
302 Sableye
302 SableyeMega Sableye
303 Mawile
303 MawileMega Mawile
304 Aron
305 Lairon
306 Aggron
306 AggronMega Aggron
307 Meditite
308 Medicham
308 MedichamMega Medicham
309 Electrike
310 Manectric
310 ManectricMega Manectric
311 Plusle
312 Minun
313 Volbeat
314 Illumise
315 Roselia
316 Gulpin
317 Swalot
318 Carvanha
319 Sharpedo
319 SharpedoMega Sharpedo
320 Wailmer
321 Wailord
322 Numel
323 Camerupt
323 CameruptMega Camerupt
324 Torkoal
325 Spoink
326 Grumpig
327 Spinda
328 Trapinch
329 Vibrava
330 Flygon
331 Cacnea
332 Cacturne
333 Swablu
334 Altaria
334 AltariaMega Altaria
335 Zangoose
336 Seviper
337 Lunatone
338 Solrock
339 Barboach
340 Whiscash
341 Corphish
342 Crawdaunt
343 Baltoy
344 Claydol
345 Lileep
346 Cradily
347 Anorith
348 Armaldo
349 Feebas
350 Milotic
351 Castform
352 Kecleon
353 Shuppet
354 Banette
354 BanetteMega Banette
355 Duskull
356 Dusclops
357 Tropius
358 Chimecho
359 Absol
359 AbsolMega Absol
360 Wynaut
361 Snorunt
362 Glalie
362 GlalieMega Glalie
363 Spheal
364 Sealeo
365 Walrein
366 Clamperl
367 Huntail
368 Gorebyss
369 Relicanth
370 Luvdisc
371 Bagon
372 Shelgon
373 Salamence
373 SalamenceMega Salamence
374 Beldum
375 Metang
376 Metagross
376 MetagrossMega Metagross
377 Regirock
378 Regice
379 Registeel
380 Latias
380 LatiasMega Latias
381 Latios
381 LatiosMega Latios
382 Kyogre
382 KyogrePrimal Kyogre
383 Groudon
383 GroudonPrimal Groudon
384 Rayquaza
384 RayquazaMega Rayquaza
385 Jirachi
386 DeoxysNormal Forme
386 DeoxysAttack Forme
386 DeoxysDefense Forme
386 DeoxysSpeed Forme
387 Turtwig
388 Grotle
389 Torterra
390 Chimchar
391 Monferno
392 Infernape
393 Piplup
394 Prinplup
395 Empoleon
396 Starly
397 Staravia
398 Staraptor
399 Bidoof
400 Bibarel
401 Kricketot
402 Kricketune
403 Shinx
404 Luxio
405 Luxray
406 Budew
407 Roserade
408 Cranidos
409 Rampardos
410 Shieldon
411 Bastiodon
412 Burmy
413 WormadamPlant Cloak
413 WormadamSandy Cloak
413 WormadamTrash Cloak
414 Mothim
415 Combee
416 Vespiquen
417 Pachirisu
418 Buizel
419 Floatzel
420 Cherubi
421 Cherrim
422 Shellos
423 Gastrodon
424 Ambipom
425 Drifloon
426 Drifblim
427 Buneary
428 Lopunny
428 LopunnyMega Lopunny
429 Mismagius
430 Honchkrow
431 Glameow
432 Purugly
433 Chingling
434 Stunky
435 Skuntank
436 Bronzor
437 Bronzong
438 Bonsly
439 Mime Jr.
440 Happiny
441 Chatot
442 Spiritomb
443 Gible
444 Gabite
445 Garchomp
445 GarchompMega Garchomp
446 Munchlax
447 Riolu
448 Lucario
448 LucarioMega Lucario
449 Hippopotas
450 Hippowdon
451 Skorupi
452 Drapion
453 Croagunk
454 Toxicroak
455 Carnivine
456 Finneon
457 Lumineon
458 Mantyke
459 Snover
460 Abomasnow
460 AbomasnowMega Abomasnow
461 Weavile
462 Magnezone
463 Lickilicky
464 Rhyperior
465 Tangrowth
466 Electivire
467 Magmortar
468 Togekiss
469 Yanmega
470 Leafeon
471 Glaceon
472 Gliscor
473 Mamoswine
474 Porygon-Z
475 Gallade
475 GalladeMega Gallade
476 Probopass
477 Dusknoir
478 Froslass
479 Rotom
479 RotomHeat Rotom
479 RotomWash Rotom
479 RotomFrost Rotom
479 RotomFan Rotom
479 RotomMow Rotom
480 Uxie
481 Mesprit
482 Azelf
483 Dialga
484 Palkia
485 Heatran
486 Regigigas
487 GiratinaAltered Forme
487 GiratinaOrigin Forme
488 Cresselia
489 Phione
490 Manaphy
491 Darkrai
492 ShayminLand Forme
492 ShayminSky Forme
493 Arceus
494 Victini
495 Snivy
496 Servine
497 Serperior
498 Tepig
499 Pignite
500 Emboar
501 Oshawott
502 Dewott
503 Samurott
504 Patrat
505 Watchog
506 Lillipup
507 Herdier
508 Stoutland
509 Purrloin
510 Liepard
511 Pansage
512 Simisage
513 Pansear
514 Simisear
515 Panpour
516 Simipour
517 Munna
518 Musharna
519 Pidove
520 Tranquill
521 Unfezant
522 Blitzle
523 Zebstrika
524 Roggenrola
525 Boldore
526 Gigalith
527 Woobat
528 Swoobat
529 Drilbur
530 Excadrill
531 Audino
531 AudinoMega Audino
532 Timburr
533 Gurdurr
534 Conkeldurr
535 Tympole
536 Palpitoad
537 Seismitoad
538 Throh
539 Sawk
540 Sewaddle
541 Swadloon
542 Leavanny
543 Venipede
544 Whirlipede
545 Scolipede
546 Cottonee
547 Whimsicott
548 Petilil
549 Lilligant
550 Basculin
551 Sandile
552 Krokorok
553 Krookodile
554 Darumaka
555 DarmanitanStandard Mode
555 DarmanitanZen Mode
556 Maractus
557 Dwebble
558 Crustle
559 Scraggy
560 Scrafty
561 Sigilyph
562 Yamask
563 Cofagrigus
564 Tirtouga
565 Carracosta
566 Archen
567 Archeops
568 Trubbish
569 Garbodor
570 Zorua
571 Zoroark
572 Minccino
573 Cinccino
574 Gothita
575 Gothorita
576 Gothitelle
577 Solosis
578 Duosion
579 Reuniclus
580 Ducklett
581 Swanna
582 Vanillite
583 Vanillish
584 Vanilluxe
585 Deerling
586 Sawsbuck
587 Emolga
588 Karrablast
589 Escavalier
590 Foongus
591 Amoonguss
592 Frillish
593 Jellicent
594 Alomomola
595 Joltik
596 Galvantula
597 Ferroseed
598 Ferrothorn
599 Klink
600 Klang
601 Klinklang
602 Tynamo
603 Eelektrik
604 Eelektross
605 Elgyem
606 Beheeyem
607 Litwick
608 Lampent
609 Chandelure
610 Axew
611 Fraxure
612 Haxorus
613 Cubchoo
614 Beartic
615 Cryogonal
616 Shelmet
617 Accelgor
618 Stunfisk
619 Mienfoo
620 Mienshao
621 Druddigon
622 Golett
623 Golurk
624 Pawniard
625 Bisharp
626 Bouffalant
627 Rufflet
628 Braviary
629 Vullaby
630 Mandibuzz
631 Heatmor
632 Durant
633 Deino
634 Zweilous
635 Hydreigon
636 Larvesta
637 Volcarona
638 Cobalion
639 Terrakion
640 Virizion
641 TornadusIncarnate Forme
641 TornadusTherian Forme
642 ThundurusIncarnate Forme
642 ThundurusTherian Forme
643 Reshiram
644 Zekrom
645 LandorusIncarnate Forme
645 LandorusTherian Forme
646 Kyurem
646 KyuremBlack Kyurem
646 KyuremWhite Kyurem
647 KeldeoOrdinary Forme
647 KeldeoResolute Forme
648 MeloettaAria Forme
648 MeloettaPirouette Forme
649 Genesect
650 Chespin
651 Quilladin
652 Chesnaught
653 Fennekin
654 Braixen
655 Delphox
656 Froakie
657 Frogadier
658 Greninja
659 Bunnelby
660 Diggersby
661 Fletchling
662 Fletchinder
663 Talonflame
664 Scatterbug
665 Spewpa
666 Vivillon
667 Litleo
668 Pyroar
669 Flabébé
670 Floette
671 Florges
672 Skiddo
673 Gogoat
674 Pancham
675 Pangoro
676 Furfrou
677 Espurr
678 MeowsticMale
678 MeowsticFemale
679 Honedge
680 Doublade
681 AegislashBlade Forme
681 AegislashShield Forme
682 Spritzee
683 Aromatisse
684 Swirlix
685 Slurpuff
686 Inkay
687 Malamar
688 Binacle
689 Barbaracle
690 Skrelp
691 Dragalge
692 Clauncher
693 Clawitzer
694 Helioptile
695 Heliolisk
696 Tyrunt
697 Tyrantrum
698 Amaura
699 Aurorus
700 Sylveon
701 Hawlucha
702 Dedenne
703 Carbink
704 Goomy
705 Sliggoo
706 Goodra
707 Klefki
708 Phantump
709 Trevenant
710 PumpkabooAverage Size
710 PumpkabooSmall Size
710 PumpkabooLarge Size
710 PumpkabooSuper Size
711 GourgeistAverage Size
711 GourgeistSmall Size
711 GourgeistLarge Size
711 GourgeistSuper Size
712 Bergmite
713 Avalugg
714 Noibat
715 Noivern
716 Xerneas
717 Yveltal
718 Zygarde50% Forme
719 Diancie
719 DiancieMega Diancie
720 HoopaHoopa Confined
720 HoopaHoopa Unbound
721 Volcanion

In [125]:
print(df.loc[(df['Attack'] > 10) & (df['Type 2'] == 'Grass')].head())

         Name   Type 1 Type 2   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
#
46      Paras      Bug  Grass   35      70       55       45       55     25
47   Parasect      Bug  Grass   60      95       80       60       80     30
251    Celebi  Psychic  Grass  100     100      100      100      100    100
270     Lotad    Water  Grass   40      30       30       40       50     30
271    Lombre    Water  Grass   60      50       50       60       70     50

     Generation  Legendary
#
46            1      False
47            1      False
251           2      False
270           3      False
271           3      False

### Sorting/Describing Data

In [126]:
df.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [127]:
df.sort_values(by=['Attack', 'Defense', 'Sp. Atk'], ascending=[False, True, False])

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
386,DeoxysAttack Forme,Psychic,NaN,50,180,20,180,20,150,3,True
384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True
...,...,...,...,...,...,...,...,...,...,...,...
242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False

### Making Change of Data

In [128]:
df['Total'] = df['Sp. Atk'] + df['Attack'] + df['HP']
df.drop(columns=['Total'],inplace=True)

df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [129]:
df['Total']= df.iloc[:,4:9].sum(axis=1) # axis = 1 (horizontal)
df.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,270

In [130]:
df.loc[df['Attack'].isna() != True]['Attack'].sum(axis=0)

63201

In [131]:
df[df['Type 2'].isna()][['Name','Type 2']].head()

         Name Type 2
#
4  Charmander    NaN
5  Charmeleon    NaN
7    Squirtle    NaN
8   Wartortle    NaN
9   Blastoise    NaN

In [132]:
df.loc[df['Name'].str.contains('Mega')].sort_values(by=['Attack'
]).head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,,
65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False,535
531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,5,False,442
94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False,540
310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,3,False,505
80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False,495

In [133]:
df.loc[df['Name'].str.contains('Mega')]['Name'].head()

#
3         VenusaurMega Venusaur
6     CharizardMega Charizard X
6     CharizardMega Charizard Y
9       BlastoiseMega Blastoise
15        BeedrillMega Beedrill
Name: Name, dtype: object

In [140]:
df.groupby(['Type 1'])['Attack'].sum().sort_values(ascending=False) # groupby = mengelompokkan ke sautu nilai tertentu

Type 1
Water       8305
Normal      7200
Grass       5125
Bug         4897
Fire        4408
Rock        4086
Psychic     4073
Dragon      3588
Ground      3064
Electric    3040
Dark        2740
Fighting    2613
Steel       2503
Ghost       2361
Poison      2091
Ice         1746
Fairy       1046
Flying       315
Name: Attack, dtype: int64

In [157]:
df.groupby(['Type 1'])[list(df.select_dtypes(include='number'))].sum()

            HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Total
Type 1
Bug       3925    4897     4880     3717     4471   4256         222  22221
Dark      2071    2740     2177     2314     2155   2361         125  11747
Dragon    2666    3588     2764     3099     2843   2657         124  14951
Electric  2631    3040     2917     3961     3243   3718         144  16879
Fairy     1260    1046     1117     1335     1440    826          70   5764
Fighting  1886    2613     1780     1434     1747   1784          91   9358
Fire      3635    4408     3524     4627     3755   3871         167  20185
Flying     283     315      265      377      290    410          22   1657
Ghost     2062    2361     2598     2539     2447   2059         134  12004
Grass     4709    5125     4956     5425     4930   4335         235  24771
Ground    2361    3064     2715     1807     2008   2045         101  11639
Ice       1728    1746     1714     1861     1831   1523          85   8675
Normal    7573    7200     5865     5470     6245   7012         299  31792
Poison    1883    2091     1927     1692     1803   1780          71   9293
Psychic   4026    4073     3858     5609     4918   4645         193  23103
Rock      2876    4086     4435     2787     3321   2460         152  17089
Steel     1761    2503     3412     1823     2177   1492         104  11407
Water     8071    8305     8170     8379     7898   7388         320  40140