In [2]:
import pandas as pd

In [9]:
df = pd.read_csv("./dataset/Data PMB - Sheet2.csv")
print(df.shape)
df.isna().sum()

(274, 19)

Ranking Nasional          0
Unnamed: 1              112
Ranking Provinsi          0
NPSN                      0
Sekolah                   0
Provinsi                  0
Kota/Kab.                 0
Jenis Sekolah             0
Nilai Total               0
TPS                       0
TKA Saintek               0
TKA Soshum                0
Akun                      5
Req Token                13
Token                    91
Lulus                    27
UP3                     171
Registrasi Mahasiswa    274
Jarak                     0
dtype: int64

In [12]:
df.fillna(0,inplace=True)

In [13]:
df.head()

,Ranking Nasional,Unnamed: 1,Ranking Provinsi,NPSN,Sekolah,Provinsi,Kota/Kab.,Jenis Sekolah,Nilai Total,TPS,TKA Saintek,TKA Soshum,Akun,Req Token,Token,Lulus,UP3,Registrasi Mahasiswa,Jarak
0,164,66.0,23,20525854,SMAN 1 GENTENG,Jawa Timur,Kab. Banyuwangi,SMA,562016,580480,569800,573267,12.0,9.0,1.0,2.0,1.0,0.0,290
1,312,83.0,52,20525856,SMAN 1 GLAGAH,Jawa Timur,Kab. Banyuwangi,SMA,545879,565718,534925,549495,6.0,4.0,3.0,3.0,0.0,0.0,290
2,667,76.0,110,20525855,SMAN 1 GIRI,Jawa Timur,Kab. Banyuwangi,SMA,523274,532869,50813,531870,10.0,5.0,1.0,3.0,0.0,0.0,290
3,852,116.0,138,20525600,SMA NEGERI 2 TARUNA BHAYANGKARA JAWA TIMUR,Jawa Timur,Kab. Banyuwangi,SMA,516414,524332,524332,523727,0.0,0.0,0.0,0.0,0.0,0.0,290
4,318,87.0,53,20514344,SMAN 1 TALUN,Jawa Timur,Kab. Blitar,SMA,545372,564802,532776,559240,11.0,7.0,0.0,0.0,0.0,0.0,164